<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="content-header">
      <h1>Team</h1>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="team-pics">
      <a href="http://www.linkedin.com/in/guptanalin" target="_blank">
        <%= image_tag("nalin.jpg", size: "160", "data-toggle" => "tooltip", title: "Nalin Gupta") %>
      </a>
      <a href="http://www.linkedin.com/pub/srinivas-reddy/15/b4b/662" target="_blank">
        <%= image_tag("srinivas.jpg", size: "160", "data-toggle" => "tooltip", title: "Srinivas Reddy") %>
      </a>
      <a href="http://www.linkedin.com/in/jitrc" target="_blank">
        <%= image_tag("jit.jpg", size: "160", "data-toggle" => "tooltip", title: "Jit Ray") %>
      </a>
      <a href="http://www.linkedin.com/pub/samuel-anudeep/21/344/10a" target="_blank">
        <%= image_tag("samuel.jpg", size: "160", "data-toggle" => "tooltip", title: "Samuel Anudeep") %>
      </a>
      <a href="http://www.linkedin.com/pub/dibyendu-ghosh/13/782/979" target="_blank">
        <%= image_tag("dibyendu.png", size: "160", "data-toggle" => "tooltip", title: "Dibyendu Ghosh") %>
      </a>
    </div>
  </div>
</div>
